body {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  background-color: #e2e8f0;
  padding: 40px;
}

label {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05rem;
  font-size: .8em;
  font-weight: 400;
  color: #222;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0 auto;
}

.dashboard {
  display: flex;
  justify-content: center;
  width: 100%;
}

.address-list-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.container {
  flex-grow: 1;
  margin: 0 20px;
  background-color: #fff;
  border: 1px solid #cbd5e0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  padding: 40px;

  label {
    margin: 10px 0;
  }

  .button {
    margin-top: 10px;
  }
}

input {
  padding: 10px 0;
  border-radius: 0.125rem;
  border: 1px solid rgb(226, 232, 240);
  background-color: #fdfdfe;
  padding-inline-start: 0.75rem;
  font-size: 0.875rem;
}

.button {
  background-color: #319795;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  color: white;
  display: inline-flex;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: .9em;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    cursor: pointer;
    background-color: #2c7a7b;
    transform: scale(1.003);
  }
  
}

.cancel {
  background-color: #c51818;

  &:hover {
    background-color: #ac1212;
  }
}

.login {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.modal > * {
  margin: 0.5rem;
}

.alert {
  color: crimson;
}

.success-input {
  display: flex;
}

.key-field {
  width: 100%;
}

.modal-buttons {
  display: flex;
  justify-content: center;
}

.confirm-message {
  margin: 1rem;
  text-align: center;
}

.wallet {
  display: flex;
  flex-direction: column;

  .balance {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: .9em;
    display: inline-flex;
    margin-top: 10px;
    padding: 0.75rem;
    background-color: #f4f6f8;
  }
}

.transfer {
  display: flex;
  flex-direction: column;
}

.address-table {
  border-collapse: collapse;
  width: 100%;
}

.address-table th,
.address-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.address-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.address-text {
  cursor: pointer;
  transition: color 0.3s;
}

.address-text:hover {
  color: #5caaf3;
}

